* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;

}

.home-section {
    background-image:linear-gradient(rgba(0, 0, 0, 0.691),rgba(0, 0, 0, 0.778)), url(./asset/3434349\ 1.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    padding-top: 1em;


}

#logo{
border-radius: 50%;
height:160px ;

}

/* .logo{
 display: flex;   
 align-items: center;
 justify-content: center;
 margin-top:10em ;

} */

 .mcc-logo{
    background-color: rgba(0, 0, 255, 0.391);
    border-radius:80px;
    font-size:1.4em ;
    font-weight: bold;
} 


/* @media screen and (max-width:430px) {
    .mcc-logo{

    }
} */



/* .home-paragraph{
    color: white;
    width: 40%;
    margin:2em auto ;
    text-align: center;
    
} */